/*
color setting
#34374C
#2C2E3E
#EE2B47
#F6F6F6
*/

#navbarSupportedContent {}

body {
    background-color: #33374C;
    color: #F6F6F6;
}

h1 {
    text-align: center;
    color: tan;
}

#menu_st {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 40vh;
    color: black;
}

#pics {
    background-color: #33374C;
    border: none;
}

.img_in_slide {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 30vh;
}