/*
color setting
#34374C
#2C2E3E
#EE2B47
#F6F6F6
*/
body {
    background-color: #afb1b8;
    /* color: #F6F6F6; */
}

h1 {
    text-align: center;
    color: black;
}

#menu_st {
    /* margin-left: 10%;
    margin-right: 10%;
    width: 80%; */
    /* height: 40vh; */
    color: black;
}

#pics {
    /* background-color: #33374C; */
    background-color: rgb(175, 177, 184);
    border: none;
}

.img_in_slide {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 30vh;
}

#map {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 1em;
    width: 80%;
    height: 100%;
}

#map_st {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 0;
    width: 80%;
}

#menu-bar {
    margin-bottom: 1em;
}

/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/