<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>部落介紹</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/about.css">
</head>

<body style="background-color: #afb1b8;">
    <div class="ui huge menu inverted">
        <a class="item" href="/">首頁</a>
        <a class="item" href="/about">部落介紹</a>
        <a class="item" href="/need">部落需求</a>
        <a class="item" href="/buy">部落便利店</a>
        <div class="right menu">
            <a id="me" class="item" href="#">聯絡我們</a>
        </div>
    </div>
    <h1 class="ui center aligned header">部落介紹</h1>
    <div class="ui grid" style="margin-top:2em;text-align:center;">
        <div id="row1" class="three column row">
            <div class="column">
                <a target="_blank" href="http://ici.nutn.edu.tw/%E4%B9%9D%E6%97%8F%E7%B6%B2%E9%A0%81/%E6%8E%92%E7%81%A3%E6%97%8F/%E6%8E%92%E7%81%A3%E6%97%8F.htm">
                    <img class="ui medium rounded image centered" src="/static/images/來義鄉排灣族/450x450.jpg">
                </a>
                <p style="font-size:2em">來義鄉排灣族</p>
            </div>
            <div class="column">
                <a target="_blank" href="http://www.haiduau.gov.tw/">
                    <img class="ui medium rounded image centered" src="/static/images/海端鄉布農族/450x450.jpg">
                </a>
                <p style="font-size:2em">海端鄉布農族</p>
            </div>
            <div class="column">
                <a target="_blank" href="http://www.tipp.org.tw/tribe_detail3.asp?City_No=11&TA_No=3&T_ID=78">
                    <img class="ui medium rounded image centered" src="/static/images/清流部落/450x450.jpg">
                </a>
                <p style="font-size:2em">清流部落</p>
            </div>
        </div>
        <div id="row2" class="three column row">
            <div class="column">
                <a target="_blank" href="https://www.ali-nsa.net/user/Article.aspx?lang=1&SNo=04003710">
                    <img class="ui medium rounded image centered" src="/static/images/達邦村鄒族/450x450.jpg">
                </a>
                <p style="font-size:2em">達邦村鄒族</p>
            </div>
            <div class="column">
                <a target="_blank" href="https://www.apc.gov.tw/portal/docList.html?CID=03AB0AFF23E53149&type=D553881BB72C42C9D0636733C6861689">
                    <img class="ui medium rounded image centered" src="/static/images/達悟族/450x450.jpg">
                </a>
                <p style="font-size:2em">達悟族</p>
            </div>
            <div class="column">
                <a target="_blank" href="http://kaxabu.weebly.com/">
                    <img class="ui medium rounded image centered" src="/static/images/噶哈巫族/450x450.jpg">
                </a>
                <p style="font-size:2em">噶哈巫族</p>
            </div>
        </div>
        <div class="ui inverted vertical footer segment" style="width:100%;left:0;position:fixed;bottom:0;">
            <div class="ui container">
                <div class="ui grid">
                    <div class="eight wide column">
                        <p class="centered" style="text-align:center;">By 第十組：有點新鮮的肝</p>
                    </div>
                    <div class="eight wide column" style="text-align:center">
                        <i class="facebook icon"></i>
                        <i class="twitter icon"></i>
                        <i class="github icon"><a href="https://github.com/FCU21-Prophet/Tribal-Care"></a></i>
                        <i class="instagram icon"></i>
                        <i class="youtube icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        setInterval(() => {
            var ww = $(document).width();
            console.log(ww);
            if (ww <= 768) {
                $("#row1").addClass("one column row").removeClass("three column row");
                $("#row2").addClass("one column row").removeClass("three column row");
                console.log("small");
            } else if (ww > 768) {
                $("#row1").addClass("three column row").remove("one column row");
                $("#row2").addClass("three column row").remove("one column row");
                console.log("large");
            }
        }, 300);

        $("#me").click(() => {
            alert("才不告訴膩勒");
        });
    </script>
</body>

</html>