<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/buy.css">
    <title>Document</title>
</head>

<body style="background-color: #afb1b8;">
    <div class="ui huge menu inverted">
        <a class="item" href="/">首頁</a>
        <a class="item" href="/about">部落介紹</a>
        <a class="item" href="/need">部落需求</a>
        <a class="item" href="/buy">部落便利店</a>
        <div class="right menu">
            <a class="item" href="#">聯絡我們</a>
        </div>
    </div>
    <h1 class="ui center aligned header">部落便利店</h1>
    <div id="seg" class="ui grid">
        <div class="left floated centered aligned column">test</div>
        <div class="right floated centered aligned column">test12</div>
    </div>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui grid">
                <div class="eight wide column">
                    <p class="centered" style="text-align:center;">By 第十組：有點新鮮的肝</p>
                </div>
                <div class="eight wide column" style="text-align:center">
                    <i class="facebook icon"></i>
                    <i class="twitter icon"></i>
                    <i class="github icon"></i>
                    <i class="instagram icon"></i>
                    <i class="youtube icon"></i>
                </div>
            </div>
        </div>
    </div>
</body>

</html>