<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/buy.css">
    <title>Document</title>
</head>

<body>
    <div class="ui huge menu inverted">
        <a class="item" href="/">首頁</a>
        <a class="item" href="/about">部落介紹</a>
        <a class="item" href="/need">部落需求</a>
        <a class="item" href="/buy">部落便利店</a>
        <div class="right menu">
            <a class="item" href="#">聯絡我們</a>
        </div>
    </div>
    <h1 class="ui center aligned header">部落便利店</h1>
    <div class="ui center aligned padded grid">
        <div class="row">
            <div class="left floated two wide column"></div>
            <div id="main" class="tweleven wide column">
                <div id="seg" class="ui segment">
                    <div class="ui equal width grid">
                        <div class="column">
                            <div class="ui centered card">
                                <div class="image">
                                    <img src="/static/images/buy/山豬牙$2880.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">山豬牙</a>
                                    <div class="description">
                                        $2800 / 個
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="ui two column grid">
                                        <div class="column">
                                            <div class="ui equal width center aligned three column grid">
                                                <div class="column">
                                                    <i class="minus icon"></i>
                                                </div>
                                                <div class="column">
                                                    0
                                                </div>
                                                <div class="column">
                                                    <i class="plus icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <button class="ui button">購買</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                                <div class="ui centered card">
                                        <div class="image">
                                            <img src="/static/images/buy/原住民鵝卵石鑰匙圈$290.jpg">
                                        </div>
                                        <div class="content">
                                            <a class="header">鵝卵石鑰匙圈</a>
                                            <div class="description">
                                                $290 / 個
                                            </div>
                                        </div>
                                        <div class="extra content">
                                            <div class="ui two column grid">
                                                <div class="column">
                                                    <div class="ui equal width center aligned three column grid">
                                                        <div class="column">
                                                            <i class="minus icon"></i>
                                                        </div>
                                                        <div class="column">
                                                            0
                                                        </div>
                                                        <div class="column">
                                                            <i class="plus icon"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <button class="ui button">購買</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="column">
                                <div class="ui card">
                                        <div class="image">
                                            <img src="/static/images/buy/原住民鵝卵石鑰匙圈$290.jpg">
                                        </div>
                                        <div class="content">
                                            <a class="header">鵝卵石鑰匙圈</a>
                                            <div class="description">
                                                $290 / 個
                                            </div>
                                        </div>
                                        <div class="extra content">
                                            <div class="ui two column grid">
                                                <div class="column">
                                                    <div class="ui equal width center aligned three column grid">
                                                        <div class="column">
                                                            <i class="minus icon"></i>
                                                        </div>
                                                        <div class="column">
                                                            0
                                                        </div>
                                                        <div class="column">
                                                            <i class="plus icon"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <button class="ui button">購買</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="equal width row">
                            <div class="column">
                                    <div class="ui card">
                                            <div class="image">
                                                <img src="/static/images/buy/原住民鵝卵石鑰匙圈$290.jpg">
                                            </div>
                                            <div class="content">
                                                <a class="header">鵝卵石鑰匙圈</a>
                                                <div class="description">
                                                    $290 / 個
                                                </div>
                                            </div>
                                            <div class="extra content">
                                                <div class="ui two column grid">
                                                    <div class="column">
                                                        <div class="ui equal width center aligned three column grid">
                                                            <div class="column">
                                                                <i class="minus icon"></i>
                                                            </div>
                                                            <div class="column">
                                                                0
                                                            </div>
                                                            <div class="column">
                                                                <i class="plus icon"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column">
                                                        <button class="ui button">購買</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="column">
                                    <div class="ui card">
                                            <div class="image">
                                                <img src="/static/images/buy/原住民鵝卵石鑰匙圈$290.jpg">
                                            </div>
                                            <div class="content">
                                                <a class="header">鵝卵石鑰匙圈</a>
                                                <div class="description">
                                                    $290 / 個
                                                </div>
                                            </div>
                                            <div class="extra content">
                                                <div class="ui two column grid">
                                                    <div class="column">
                                                        <div class="ui equal width center aligned three column grid">
                                                            <div class="column">
                                                                <i class="minus icon"></i>
                                                            </div>
                                                            <div class="column">
                                                                0
                                                            </div>
                                                            <div class="column">
                                                                <i class="plus icon"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column">
                                                        <button class="ui button">購買</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="column">
                                    <div class="ui card">
                                            <div class="image">
                                                <img src="/static/images/buy/原住民鵝卵石鑰匙圈$290.jpg">
                                            </div>
                                            <div class="content">
                                                <a class="header">鵝卵石鑰匙圈</a>
                                                <div class="description">
                                                    $290 / 個
                                                </div>
                                            </div>
                                            <div class="extra content">
                                                <div class="ui two column grid">
                                                    <div class="column">
                                                        <div class="ui equal width center aligned three column grid">
                                                            <div class="column">
                                                                <i class="minus icon"></i>
                                                            </div>
                                                            <div class="column">
                                                                0
                                                            </div>
                                                            <div class="column">
                                                                <i class="plus icon"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column">
                                                        <button class="ui button">購買</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right floated two wide column">
                <div class="ui inverted menu" style="margin-bottom:0">
                    <a class="header item" href="" style="width:100%">
                        <i class="shop icon"></i>總金額
                    </a>
                </div>
                <div class="ui segment" style="margin-top:0">
                    <p style="font-size:24px">$
                        <span id="num">0</span>
                    </p>
                    <button class="ui button">結帳</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui grid">
                <div class="eight wide column">
                    <p class="centered" style="text-align:center;">By 第十組：有點新鮮的肝</p>
                </div>
                <div class="eight wide column" style="text-align:center">
                    <i class="facebook icon"></i>
                    <i class="twitter icon"></i>
                    <i class="github icon"></i>
                    <i class="instagram icon"></i>
                    <i class="youtube icon"></i>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            /*$.get("/static/template/buy_card.html", (data) => {
                $("#seg").html(data);
            });*/
        });
    </script>
</body>

</html>