<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/buy.css">
    <title>Document</title>
</head>

<body>
    <div class="ui huge menu inverted">
        <a class="item" href="/">首頁</a>
        <a class="item" href="/about">部落介紹</a>
        <a class="item" href="/need">部落需求</a>
        <a class="item" href="/buy">部落便利店</a>
        <div class="right menu">
            <a class="item" href="#">聯絡我們</a>
        </div>
    </div>
    <h1 class="ui center aligned header">部落便利店</h1>
    <div class="ui center aligned padded grid">
        <div class="row">
            <div class="left floated two wide column"></div>
            <div id="main" class="tweleven wide column">
                <div class="ui menu inverted" style="margin-bottom:0;">
                    <a href="" class="item fluid">商品目錄</a>
                </div>
                <div id="seg" class="ui segment" style="margin-top:0;">
                    <div class="ui equal width grid">
                        <div class="column">
                            <div class="ui centered card">
                                <div class="image">
                                    <img src="/static/images/buy/山豬牙$2880.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">山豬牙</a>
                                    <div class="description">
                                        $2800 / 個
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="ui two column grid">
                                        <div class="column">
                                            <div class="ui equal width center aligned three column grid">
                                                <div id="m1" class="column middle aligned">
                                                    <i class="minus icon"></i>
                                                </div>
                                                <div class="middle aligned padded column">
                                                    <p id="in1" value="1">1</p>
                                                </div>
                                                <div id="p1" class="column middle aligned">
                                                    <i class="plus icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <button id="b1" class="ui button">購買</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui centered card">
                                <div class="image">
                                    <img src="/static/images/buy/原住民鵝卵石鑰匙圈$290.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">鵝卵石鑰匙圈</a>
                                    <div class="description">
                                        $290 / 個
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="ui two column grid">
                                        <div class="column">
                                            <div class="ui equal width center aligned three column grid">
                                                <div id="m2" class="column middle aligned">
                                                    <i class="minus icon"></i>
                                                </div>
                                                <div class="middle aligned padded column">
                                                    <p id="in2" value="1">1</p>
                                                </div>
                                                <div id="p2" class="column middle aligned">
                                                    <i class="plus icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <button id="b2" class="ui button">購買</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui centered card">
                                <div class="image">
                                    <img src="/static/images/buy/湯筷組$200.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">湯筷組</a>
                                    <div class="description">
                                        $200 / 組
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="ui two column grid">
                                        <div class="column">
                                            <div class="ui equal width center aligned three column grid">
                                                <div id="m3" class="column middle aligned">
                                                    <i class="minus icon"></i>
                                                </div>
                                                <div class="middle aligned padded column">
                                                    <p id="in3" value="1">1</p>
                                                </div>
                                                <div id="p3" class="column middle aligned">
                                                    <i class="plus icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <button id="b3" class="ui button">購買</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <div class="ui centered card">
                                    <div class="image">
                                        <img src="/static/images/buy/馬克杯組(4只) $1,200.jpg">
                                    </div>
                                    <div class="content">
                                        <a class="header">馬克杯組(4只)</a>
                                        <div class="description">
                                            $1200 / 組
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two column grid">
                                            <div class="column">
                                                <div class="ui equal width center aligned three column grid">
                                                    <div id=m4 class="column middle aligned">
                                                        <i class="minus icon"></i>
                                                    </div>
                                                    <div class="middle aligned padded column">
                                                        <p id="in4" value="1">1</p>
                                                    </div>
                                                    <div id="p4" class="column middle aligned">
                                                        <i class="plus icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <button id="b4" class="ui button">購買</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui centered card">
                                    <div class="image">
                                        <img src="/static/images/buy/鳳凰米-1公斤 $180.jpg">
                                    </div>
                                    <div class="content">
                                        <a class="header">鳳凰米-1公斤</a>
                                        <div class="description">
                                            $180 / 包
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two column grid">
                                            <div class="column">
                                                <div class="ui equal width center aligned three column grid">
                                                    <div id="m5" class="column middle aligned">
                                                        <i class="minus icon"></i>
                                                    </div>
                                                    <div class="middle aligned padded column">
                                                        <p id="in5" value="1">1</p>
                                                    </div>
                                                    <div id="p5" class="column middle aligned">
                                                        <i class="plus icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <button id="b5" class="ui button">購買</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui centered card">
                                    <div class="image">
                                        <img src="/static/images/buy/pig.png">
                                    </div>
                                    <div class="content">
                                        <a class="header">山豬(公道價)</a>
                                        <div class="description">
                                            $81000 / 隻
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui two column grid">
                                            <div class="column">
                                                <div class="ui equal width center aligned three column grid">
                                                    <div id="m6" class="column middle aligned">
                                                        <i class="minus icon"></i>
                                                    </div>
                                                    <div class="middle aligned padded column">
                                                        <p id="in6" value="1">1</p>
                                                    </div>
                                                    <div id="p6" class="column middle aligned">
                                                        <i class="plus icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <button id="b6" class="ui button">購買</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right floated two wide column">
                <div class="ui inverted menu" style="margin-bottom:0">
                    <a class="header item" href="" style="width:100%">
                        <i class="money icon"></i>總金額
                    </a>
                </div>
                <div class="ui segment" style="margin-top:0">
                    <p style="font-size:24px">$
                        <span id="num" value=0>0</span>
                    </p>
                    <button class="ui fluid button">結帳</button>
                </div>
                <div class="ui inverted menu" style="margin-bottom:0">
                    <a href="" class="header item" style="width:100%;text-aligned:ceter;">
                        <i class="shop icon"></i>購物車清單
                    </a>
                </div>
                <div id="buy_item" class="ui segment" style="margin-top:0">
                </div>
            </div>
        </div>
    </div>
    <div class="ui inverted vertical footer segment" style="width:100%;left:0;position:fixed;bottom:0;">
        <div class="ui container">
            <div class="ui grid">
                <div class="eight wide column">
                    <p class="centered" style="text-align:center;">By 第十組：有點新鮮的肝</p>
                </div>
                <div class="eight wide column" style="text-align:center">
                    <i class="facebook icon"></i>
                    <i class="twitter icon"></i>
                    <i class="github icon"></i>
                    <i class="instagram icon"></i>
                    <i class="youtube icon"></i>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#m1").click(() => {
            var nu = parseInt($("#in1").text());
            if (nu > 1) {
                $("#in1").text((nu - 1).toString());
            } else {
                alert("數字不可小於1!!")
            }
        });
        $("#p1").click(() => {
            var nu = parseInt($("#in1").text());
            $("#in1").text((nu + 1).toString());
        });

        $("#m2").click(() => {
            var nu = parseInt($("#in2").text());
            if (nu > 1) {
                $("#in2").text((nu - 1).toString());
            } else {
                alert("數字不可小於1!!")
            }
        });
        $("#p2").click(() => {
            var nu = parseInt($("#in2").text());
            $("#in2").text((nu + 1).toString());
        });

        $("#m3").click(() => {
            var nu = parseInt($("#in3").text());
            if (nu > 1) {
                $("#in3").text((nu - 1).toString());
            } else {
                alert("數字不可小於1!!")
            }
        });
        $("#p3").click(() => {
            var nu = parseInt($("#in3").text());
            $("#in3").text((nu + 1).toString());
        });

        $("#m4").click(() => {
            var nu = parseInt($("#in4").text());
            if (nu > 1) {
                $("#in4").text((nu - 1).toString());
            } else {
                alert("數字不可小於1!!")
            }
        });
        $("#p4").click(() => {
            var nu = parseInt($("#in4").text());
            $("#in4").text((nu + 1).toString());
        });

        $("#m5").click(() => {
            var nu = parseInt($("#in5").text());
            if (nu > 1) {
                $("#in5").text((nu - 1).toString());
            } else {
                alert("數字不可小於1!!")
            }
        });
        $("#p5").click(() => {
            var nu = parseInt($("#in5").text());
            $("#in5").text((nu + 1).toString());
        });

        $("#m6").click(() => {
            var nu = parseInt($("#in6").text());
            if (nu > 1) {
                $("#in6").text((nu - 1).toString());
            } else {
                alert("數字不可小於1!!")
            }
        });
        $("#p6").click(() => {
            var nu = parseInt($("#in6").text());
            $("#in6").text((nu + 1).toString());
        });

        $("#b1").click(() => {
            var nu = parseInt($("#in1").text());
            var total_num = parseInt($("#num").text());
            var out = total_num + 2800 * nu;
            $("#num").text(out);
            if($("#it1").length > 0){
                var it_nu = parseInt($("#it_nu1").text());
                $("#it_nu1").text((it_nu + nu).toString())
            } else {
                $("#buy_item").append("<p id='it1'>山豬牙<span id='it_nu1'>"+nu+"</span>個<i id='r1' class='remove icon' style='float:right'></i></p>")
                $("#r1").click(() => {
                    $("#it1").remove();
                });
            }
            $("#in1").text("1");
        });

        $("#b2").click(() => {
            var nu = parseInt($("#in2").text());
            var total_num = parseInt($("#num").text());
            var out = total_num + 290 * nu;
            $("#num").text(out);
            if($("#it2").length > 0){
                var it_nu = parseInt($("#it_nu2").text());
                $("#it_nu2").text((it_nu + nu).toString())
            } else {
                $("#buy_item").append("<p id='it2'>鵝卵石鑰匙圈<span id='it_nu2'>"+nu+"</span>個<i id='r2' class='remove icon' style='float:right'></i></p>")
                $("#r2").click(() => {
                    $("#it2").remove();
                });
            }
            $("#in2").text("1");
        });

        $("#b3").click(() => {
            var nu = parseInt($("#in3").text());
            var total_num = parseInt($("#num").text());
            var out = total_num + 200 * nu;
            $("#num").text(out);
            if($("#it3").length > 0){
                var it_nu = parseInt($("#it_nu3").text());
                $("#it_nu3").text((it_nu + nu).toString())
            } else {
                $("#buy_item").append("<p id='it3'>湯筷組<span id='it_nu3'>"+nu+"</span>組<i id='r3' class='remove icon' style='float:right'></i></p>")
                $("#r3").click(() => {
                    $("#it3").remove();
                });
            }
            $("#in3").text("1");
        });

        $("#b4").click(() => {
            var nu = parseInt($("#in4").text());
            var total_num = parseInt($("#num").text());
            var out = total_num + 1200 * nu;
            $("#num").text(out);
            if($("#it4").length > 0){
                var it_nu = parseInt($("#it_nu4").text());
                $("#it_nu4").text((it_nu + nu).toString())
            } else {
                $("#buy_item").append("<p id='it4'>馬克杯組(四只)<span id='it_nu4'>"+nu+"</span>組<i id='r4' class='remove icon' style='float:right'></i></p>")
                $("#r4").click(() => {
                    $("#it4").remove();
                });
            }
            $("#in4").text("1");
        });

        $("#b5").click(() => {
            var nu = parseInt($("#in5").text());
            var total_num = parseInt($("#num").text());
            var out = total_num + 180 * nu;
            $("#num").text(out);
            if($("#it5").length > 0){
                var it_nu = parseInt($("#it_nu5").text());
                $("#it_nu5").text((it_nu + nu).toString())
            } else {
                $("#buy_item").append("<p id='it5'>鳳凰米-一公斤<span id='it_nu5'>"+nu+"</span>包<i id='r5' class='remove icon' style='float:right'></i></p>")
                $("#r5").click(() => {
                    $("#it5").remove();
                });
            }
            $("#in5").text("1");
        });

        $("#b6").click(() => {
            var nu = parseInt($("#in6").text());
            var total_num = parseInt($("#num").text());
            var out = total_num + 81000 * nu;
            $("#num").text(out);
            if($("#it6").length > 0){
                var it_nu = parseInt($("#it_nu6").text());
                $("#it_nu6").text((it_nu + nu).toString())
            } else {
                $("#buy_item").append("<p id='it6'>山豬<span id='it_nu6'>"+nu+"</span>隻<i id='r6' class='remove icon' style='float:right'></i></p>")
                $("#r6").click(() => {
                    $("#it6").remove();
                });
            }
            $("#in6").text("1");
        });
    </script>
</body>

</html>