<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首頁</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script src="/static/js/jquery.flexslider-min.js"></script>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/flexslider.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="ui huge menu inverted">
        <a class="item" href="/">首頁</a>
        <a class="item" href="/about">部落介紹</a>
        <a class="item" href="/need">部落需求</a>
        <a class="item" href="/buy">部落便利店</a>
        <div class="right menu">
            <a class="item" href="#">聯絡我們</a>
        </div>
    </div>
    <h1 class="ui center aligned header">看見台灣部落</h1>
    <div id="pics" class="flexslider">
        <ul class="slides">
            <li>
                <img src="/static/images/輪播/嘉明湖.jpg" alt="" style="margin-left: 10%;margin-right: 10%;width: 80%;height: 80vh;">
            </li>
            <li>
                <img src="/static/images/輪播/活動1.jpg" alt="" style="margin-left: 10%;margin-right: 10%;width: 80%;height: 80vh;">
            </li>
            <li>
                <img src="/static/images/輪播/活動2.jpg" alt="" style="margin-left: 10%;margin-right: 10%;width: 80%;height: 80vh;">
            </li>
            <li>
                <img src="/static/images/輪播/清流部落.jpg" alt="" style="margin-left: 10%;margin-right: 10%;width: 80%;height: 80vh;">
            </li>
            <li>
                <img src="/static/images/輪播/神鷹瀑布.jpg" alt="" style="margin-left: 10%;margin-right: 10%;width: 80%;height: 80vh;">
            </li>
        </ul>
    </div>

    <div id="menu-bar">
        <div class="ui pointing menu inverted" style="margin-left:10%;margin-right:10%;margin-bottom:0;width:80%">
            <a id="menu-all" class="active item">
                All
            </a>
            <a id="menu-1" class="item">
                留言
            </a>
            <a id="menu-2" class="item">
                活動
            </a>
            <a id="menu-3" class="item">
                遊記
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui transparent icon input">
                    </div>
                </div>
            </div>
        </div>
        <div id="menu_st" style="width:80%;margin-left: 10%;margin-right:10%;">
            <table class="ui celled table">
                <thead>
                    <tr style="text-align:center">
                        <th>標題</th>
                        <th>活動</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:400px">[活動]榮耀祖紋─來義鄉排灣手文展</td>
                        <td class="left aligned">
                            <a target="_blank" href="http://www.tipp.org.tw/events_article.asp?F_ID=82345&PageSize=15&Page=2&startTime=&endTime=&FT_No=&NSubject_No=&SelectSubject=&Subject_No=&SubSubject_No=&TA_No=&Orderby=&KeyWords=&Order=&IsSelect=">為持續推動與保存原住民族無形資產文化，原住民族委員會原住民族文化發展中心(以下簡稱原文發中心)在106年11月23日... </a>
                        </td>
                    </tr>
                    <tr>
                        <td>[活動]編染．編籃─106年度海端鄉布農技藝研習成果展</td>
                        <td class="left aligned">
                            <a target="_blank" href="http://www.tipp.org.tw/events_article.asp?F_ID=82911&PageSize=15&Page=1&startTime=&endTime=&FT_No=&NSubject_No=&SelectSubject=&Subject_No=&SubSubject_No=&TA_No=&Orderby=&KeyWords=&Order=&IsSelect=">海端鄉公所為保存並延續鄉內重要布農族技藝文化，專注於相關的教育活動，今年度主要支持的工藝為藤編背籃與編染技藝... </a>
                        </td>
                    </tr>
                    <tr>
                        <td>[遊記]南投川中島清流部落。尋找賽德克</td>
                        <td class="left aligned">
                            <a target="_blank" href="http://blog.xuite.net/siba39/blog/51537807-%E5%8D%97%E6%8A%95%E5%B7%9D%E4%B8%AD%E5%B3%B6%E6%B8%85%E6%B5%81%E9%83%A8%E8%90%BD%E3%80%82%E5%B0%8B%E6%89%BE%E8%B3%BD%E5%BE%B7%E5%85%8B">昨晚去看了賽德克巴萊，因為早先知道了一些歷史背景，覺得還沒看完所以就等待下集。在上集裡有很多血腥畫面抗日，而是... </a>
                        </td>
                    </tr>
                    <tr>
                        <td>[活動]Yaku ka Kaxabu a saw 噶哈巫的復振之路</td>
                        <td class="left aligned">
                            <a target="_blank" href="http://www.tipp.org.tw/events_article.asp?F_ID=82787&PageSize=15&Page=1&startTime=&endTime=&FT_No=&NSubject_No=&SelectSubject=&Subject_No=&SubSubject_No=&TA_No=&Orderby=&KeyWords=&Order=&IsSelect=">有一群人在百餘年前翻山越嶺來到埔里的東北隅居住，這群人被稱做「四庄番」、「平埔仔」、「姓潘的人」、「散毛仔番」...</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2">
                            <div class="ui right floated pagination menu">
                                <a class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a class="item">1</a>
                                <a class="item">2</a>
                                <a class="item">3</a>
                                <a class="item">4</a>
                                <a class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div id="map_st" class="ui inverted segment">
        部落地圖
    </div>
    <div id="map"></div>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui grid">
                <div class="eight wide column">
                    <p class="centered" style="text-align:center;">By 第十組：有點新鮮的肝</p>
                </div>
                <div class="eight wide column">
                    <i class="facebook icon"></i>
                    <i class="twitter icon"></i>
                    <i class="github icon"></i>
                    <i class="instagram icon"></i>
                    <i class="youtube icon"></i>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            //$("menu-all").click();
        });
        $("#menu-all").click(() => {
            $("#menu-all").addClass("active");
            $("#menu-1").removeClass("active");
            $("#menu-2").removeClass("active");
            $("#menu-3").removeClass("active");
            $.get("/menuall", (data) => {
                $("#menu_st").html(data);
            });
        });
        $("#menu-1").click(() => {
            $("#menu-all").removeClass("active");
            $("#menu-1").addClass("active");
            $("#menu-2").removeClass("active");
            $("#menu-3").removeClass("active");
            $("#menu_st").text("menu1");
            $.get("/menu1", (data) => {
                $("#menu_st").html(data);
            });
        });
        $("#menu-2").click(() => {
            $("#menu-all").removeClass("active");
            $("#menu-1").removeClass("active");
            $("#menu-2").addClass("active");
            $("#menu-3").removeClass("active");
            $("#menu_st").text("menu2");
            $.get("/menu2", (data) => {
                $("#menu_st").html(data);
            });
        });
        $("#menu-3").click(() => {
            $("#menu-all").removeClass("active");
            $("#menu-1").removeClass("active");
            $("#menu-2").removeClass("active");
            $("#menu-3").addClass("active");
            $("#menu_st").text("menu2");
            $.get("/menu3", (data) => {
                $("#menu_st").html(data);
            });
        });
        $(() => {
            $(".flexslider").flexslider({
                slideshowSpeed: 3000, //展示時間間隔ms
                animationSpeed: 400, //滾動時間ms
                touch: true //是否支持觸屏滑動
            });
        });

        function initMap() {
            var taiwan = {
                lat: 24.055171,
                lng: 121.102012
            };
            var tribe = [
                [{
                    lat: 22.494224,
                    lng: 120.624853
                }, '來義鄉'],
                [{
                    lat: 23.134923,
                    lng: 121.176573
                }, '海端鄉'],
                [{
                    lat: 24.066786,
                    lng: 120.953153
                }, '清流部落'],
                [{
                    lat: 23.456862,
                    lng: 120.747939
                }, '達邦村 '],
                [{
                    lat: 22.027964,
                    lng: 121.541511
                }, '蘭嶼 '],
                [{
                    lat: 23.993759,
                    lng: 120.974840
                }, '噶哈巫族'],
            ];
            var infoWindow = new google.maps.InfoWindow();
            var map = new
            google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: taiwan
            });
            for (i in tribe) {
                marker = new google.maps.Marker({
                    position: tribe[i][0],
                    map: map,
                    url: tribe[i][2]
                });

                google.maps.event.addListener(marker, 'click', function() {
                    //window.location.href = this.url;
                    window.open(this.url);   //開新視窗
                });
                google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {
                    return function () {
                        infoWindow.setContent(tribe[i][1]);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTqpx76khCSEl4isalGFkS0qWqZmNe1Y0&callback=initMap"></script>

</body>

</html>