<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首頁</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script src="/static/js/jquery.flexslider-min.js"></script>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/flexslider.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="ui huge menu inverted" style="width:100%;">
        <a class="item" href="/">首頁</a>
        <a class="item" href="/about">部落介紹</a>
        <a class="item" href="/need">部落需求</a>
        <a class="item" href="/buy">部落便利店</a>
        <div class="right menu">
            <a class="item" href="#">聯絡我們</a>
        </div>
    </div>
    <h1 class="ui center aligned header">看見台灣部落</h1>
    <div id="pics" class="flexslider">
        <ul class="slides">
            <li>
                <img src="/static/images/輪播/嘉明湖.jpg" alt="" style="margin-left: 10%;margin-right: 10%;width: 80%;height: 80vh;">
            </li>
            <li>
                <img src="/static/images/輪播/活動1.jpg" alt="" style="margin-left: 10%;margin-right: 10%;width: 80%;height: 80vh;">
            </li>
            <li>
                <img src="/static/images/輪播/活動2.jpg" alt="" style="margin-left: 10%;margin-right: 10%;width: 80%;height: 80vh;">
            </li>
            <li>
                <img src="/static/images/輪播/清流部落.jpg" alt="" style="margin-left: 10%;margin-right: 10%;width: 80%;height: 80vh;">
            </li>
            <li>
                <img src="/static/images/輪播/神鷹瀑布.jpg" alt="" style="margin-left: 10%;margin-right: 10%;width: 80%;height: 80vh;">
            </li>
        </ul>
    </div>

    <div id="menu-bar">
        <div class="ui pointing menu inverted" style="margin-left:10%;margin-right:10%;margin-bottom:0;width:80%">
            <a id="menu-all" class="active item">
                All
            </a>
            <a id="menu-1" class="item">
                留言
            </a>
            <a id="menu-2" class="item">
                活動
            </a>
            <a id="menu-3" class="item">
                遊記
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui transparent icon input">
                    </div>
                </div>
            </div>
        </div>
        <div id="menu_st" style="width:80%;margin-left: 10%;margin-right:10%;">
           
        </div>
    </div>
    <div id="map_st" class="ui inverted segment">
        部落地圖
    </div>
    <div id="map"></div>
    <div class="ui inverted vertical footer segment" style="width:100%;">
        <div class="ui container">
            <div class="ui grid">
                <div class="eight wide column">
                    <p class="centered" style="text-align:center;">By 第十組：有點新鮮的肝</p>
                </div>
                <div class="eight wide column" style="text-align:center">
                    <i class="facebook icon"></i>
                    <i class="twitter icon"></i>
                    <i class="github icon"></i>
                    <i class="instagram icon"></i>
                    <i class="youtube icon"></i>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            $.get("/static/template/menu-all.html", (data) => {
                $("#menu_st").html(data);
            });
        });
        $("#menu-all").click(() => {
            $("#menu-all").addClass("active");
            $("#menu-1").removeClass("active");
            $("#menu-2").removeClass("active");
            $("#menu-3").removeClass("active");
            $.get("/static/template/menu-all.html", (data) => {
                $("#menu_st").html(data);
            });
        });
        $("#menu-1").click(() => {
            $("#menu-all").removeClass("active");
            $("#menu-1").addClass("active");
            $("#menu-2").removeClass("active");
            $("#menu-3").removeClass("active");
            $("#menu_st").text("menu1");
            $.get("/static/template/menu1.html", (data) => {
                $("#menu_st").html(data);
            });
        });
        $("#menu-2").click(() => {
            $("#menu-all").removeClass("active");
            $("#menu-1").removeClass("active");
            $("#menu-2").addClass("active");
            $("#menu-3").removeClass("active");
            $("#menu_st").text("menu2");
            $.get("/static/template/menu2.html", (data) => {
                $("#menu_st").html(data);
            });
        });
        $("#menu-3").click(() => {
            $("#menu-all").removeClass("active");
            $("#menu-1").removeClass("active");
            $("#menu-2").removeClass("active");
            $("#menu-3").addClass("active");
            $("#menu_st").text("menu2");
            $.get("/static/template/menu3.html", (data) => {
                $("#menu_st").html(data);
            });
        });
        $(() => {
            $(".flexslider").flexslider({
                slideshowSpeed: 3000, //展示時間間隔ms
                animationSpeed: 400, //滾動時間ms
                touch: true //是否支持觸屏滑動
            });
        });

        function initMap() {
            var taiwan = {
                lat: 24.055171,
                lng: 121.102012
            };
            var tribe = [
                [{
                    lat: 22.494224,
                    lng: 120.624853
                }, '來義鄉'],
                [{
                    lat: 23.134923,
                    lng: 121.176573
                }, '海端鄉'],
                [{
                    lat: 24.066786,
                    lng: 120.953153
                }, '清流部落'],
                [{
                    lat: 23.456862,
                    lng: 120.747939
                }, '達邦村 '],
                [{
                    lat: 22.027964,
                    lng: 121.541511
                }, '蘭嶼 '],
                [{
                    lat: 23.993759,
                    lng: 120.974840
                }, '噶哈巫族'],
            ];
            var infoWindow = new google.maps.InfoWindow();
            var map = new
            google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: taiwan
            });
            for (i in tribe) {
                marker = new google.maps.Marker({
                    position: tribe[i][0],
                    map: map,
                    url: tribe[i][2]
                });

                google.maps.event.addListener(marker, 'click', function() {
                    //window.location.href = this.url;
                    window.open(this.url);   //開新視窗
                });
                google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {
                    return function () {
                        infoWindow.setContent(tribe[i][1]);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTqpx76khCSEl4isalGFkS0qWqZmNe1Y0&callback=initMap"></script>

</body>

</html>