<div class="ui card">
    <div class="image">
        <img src="/static/images/buy/山豬牙$2880.jpg">
    </div>
    <div class="content">
        <a class="header">山豬牙</a>
        <div class="description">
            $2800 / 個
        </div>
    </div>
    <div class="extra content">
        <div class="ui two column grid">
            <div class="column">
                <div class="ui equal width center aligned three column grid">
                    <div class="column">
                        <i class="minus icon"></i>
                    </div>
                    <div class="column">
                        0
                    </div>
                    <div class="column">
                        <i class="plus icon"></i>
                    </div>
                </div>
            </div>
            <div class="column">
                <button class="ui button">購買</button>
            </div>
        </div>
    </div>
</div>

<div class="ui card">
    <div class="image">
        <img src="/static/images/buy/原住民鵝卵石鑰匙圈$290.jpg">
    </div>
    <div class="content">
        <a class="header">鵝卵石鑰匙圈</a>
        <div class="description">
            $290 / 個
        </div>
    </div>
    <div class="extra content">
        <div class="ui two column grid">
            <div class="column">
                <div class="ui equal width center aligned three column grid">
                    <div class="column">
                        <i class="minus icon"></i>
                    </div>
                    <div class="column">
                        0
                    </div>
                    <div class="column">
                        <i class="plus icon"></i>
                    </div>
                </div>
            </div>
            <div class="column">
                <button class="ui button">購買</button>
            </div>
        </div>
    </div>
</div>