<div class="ui equal width grid">
    <div class="column">
        <div class="ui centered card">
            <div class="image">
                <img src="/static/images/buy/山豬牙$2880.jpg">
            </div>
            <div class="content">
                <a class="header">山豬牙</a>
                <div class="description">
                    $2800 / 個
                </div>
            </div>
            <div class="extra content">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui equal width center aligned three column grid">
                            <div class="column">
                                <i class="minus icon"></i>
                            </div>
                            <div id="in1" class="column" style="color:black">
                                1
                            </div>
                            <div class="column">
                                <i class="plus icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <button class="ui button">購買</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui centered card">
            <div class="image">
                <img src="/static/images/buy/原住民鵝卵石鑰匙圈$290.jpg">
            </div>
            <div class="content">
                <a class="header">鵝卵石鑰匙圈</a>
                <div class="description">
                    $290 / 個
                </div>
            </div>
            <div class="extra content">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui equal width center aligned three column grid">
                            <div class="column">
                                <i class="minus icon"></i>
                            </div>
                            <div id="in2" class="column" style="color:black">
                                1
                            </div>
                            <div class="column">
                                <i class="plus icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <button class="ui button">購買</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui centered card">
            <div class="image">
                <img src="/static/images/buy/湯筷組$200.jpg">
            </div>
            <div class="content">
                <a class="header">湯筷組</a>
                <div class="description">
                    $200 / 組
                </div>
            </div>
            <div class="extra content">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui equal width center aligned three column grid">
                            <div class="column">
                                <i class="minus icon"></i>
                            </div>
                            <div id="in3" class="column" style="color:black">
                                1
                            </div>
                            <div class="column">
                                <i class="plus icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <button class="ui button">購買</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui centered card">
                <div class="image">
                    <img src="/static/images/buy/馬克杯組(4只) $1,200.jpg">
                </div>
                <div class="content">
                    <a class="header">馬克杯組(4只)</a>
                    <div class="description">
                        $1200 / 組
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two column grid">
                        <div class="column">
                            <div class="ui equal width center aligned three column grid">
                                <div class="column">
                                    <i class="minus icon"></i>
                                </div>
                                <div id="in4" class="column" style="color:black">
                                    1
                                </div>
                                <div class="column">
                                    <i class="plus icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <button class="ui button">購買</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui centered card">
                <div class="image">
                    <img src="/static/images/buy/鳳凰米-1公斤 $180.jpg">
                </div>
                <div class="content">
                    <a class="header">鳳凰米-1公斤</a>
                    <div class="description">
                        $180 / 包
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two column grid">
                        <div class="column">
                            <div class="ui equal width center aligned three column grid">
                                <div class="column">
                                    <i class="minus icon"></i>
                                </div>
                                <div id="in5" class="column" style="color:black">
                                    1
                                </div>
                                <div class="column">
                                    <i class="plus icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <button class="ui button">購買</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui centered card">
                <div class="image">
                    <img src="/static/images/buy/pig.png">
                </div>
                <div class="content">
                    <a class="header">山豬</a>
                    <div class="description">
                        $290 / 個
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two column grid">
                        <div class="column">
                            <div class="ui equal width center aligned three column grid">
                                <div class="column">
                                    <i class="minus icon"></i>
                                </div>
                                <div id="in6" class="column" style="color:black">
                                    0
                                </div>
                                <div class="column">
                                    <i class="plus icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <button class="ui button">購買</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>